################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
main.exe
CppProperties.json
.vscode/launch.json
.vscode/tasks.json
Problem 3/main.cpp
Problem 3/.vscode/launch.json
Problem 3/.vscode/settings.json
Problem 3/.vscode/tasks.json
Problem 3/.vscode/tasks.json
Problem 3/.vscode/settings.json
Problem 3/.vscode/launch.json
.vscode/tasks.json
.vscode/launch.json
.vs/Project Euler/v16/ipch/AutoPCH/b0a37f4be1a4492f/MAIN.ipch
.vs/Project Euler/v16/ipch/AutoPCH/4b97925d6abf68a7/MAIN.ipch
.vs/Project Euler/v16/Browse.VC.db
.vs/Project Euler/v16/.suo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
main.exe
CppProperties.json
main.ilk
main.obj
main.pdb
vc140.pdb
